#slider {background-color:rgba(0,0,0,0.5);bottom:0;height:100px;left:0;position:absolute;width:100%;z-index:10;}
#slider .slider-closed {width:100px;}
#slider strong {color:#fff;display:block;margin-bottom:5px;padding:10px 10px 0;text-shadow:none;}
#slider p {color:#fff;display:block;font-size:14px;padding:0 10px;text-shadow:none;}
#slider .slider-open strong {color:#fff;font-size:22px;}
#slider .slider-closed strong {font-size:18px;margin-bottom:5px;}
#slider .slider-closed p {display:none;}

div.accordion_button{
    height:45px;
    width:45px;
    position: relative;
    bottom: 230px;
    z
    cursor:pointer;
}

div.accordion_button.previous{
    float:left;
    margin-left:-23px;
    
}
div.accordion_button.next{
    float:right;
    margin-right:-23px;
}

div.accordion_button span.hover{
    height:45px;
    width:45px;
    position: absolute;
}

div.accordion_button_simple{
    margin-right:10px;
    
    display:inline;

    font-family: Arial;
    font-size:14px;
    font-weight:normal;
    
    cursor:pointer;
    
    color:#000000;
    
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

div.accordion_button_simple:hover{
    font-family: Arial;
    font-size:14px;
    font-weight:normal;
    
    color:#33CC00;
}